.foodCard_circle {
	display: flex;
	flex-direction: column;
	max-width: 110px;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;

	.imgWrapper {
		border-radius: 150px;
		overflow: hidden;

		.img {
			width: 100%;
			object-fit: cover;
		}
	}
}
