.btn_default {
	border: none;
	background: transparent;
	cursor: pointer;
	padding: 1rem 2rem;
	background-color: var(--button-primary-bg);
}

.btn_animated {
	@extend .btn_default;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	background-color: var(--button-primary-bg);
	border: none;
	outline: none;
	border-radius: 999px;
	padding-inline: 2em;
	padding-block: 1rem;
	align-self: stretch;
	white-space: nowrap;
	color: white;
	font-weight: 600;
	line-height: 1;

	&:hover {
		transform: scale(1.02);
	}
}

.btn_transparent {
	border: none;
	background: transparent;
	cursor: pointer;
	padding-right: 0.5rem;
	padding-left: 0.75rem;
}

.btn_icon {
	width: 30px;
	aspect-ratio: 1/1;

	> img,
	svg {
		width: 100%;
		height: 100%;
		display: block;
	}
}
