.card {
	border-radius: 3rem;
	background-color: var(--base);
	display: flex;
	gap: 1rem;
	padding: 1.2rem 1rem;
	border: 1px solid var(--border-color);
	cursor: pointer;

	&:hover {
		outline: 1px solid var(--accent);
	}

	&.selected {
		outline: 1px solid var(--accent);
		background-color: var(--accent-alpha-v3);
	}

	.radioInput {
		outline: none;
	}

	.content {
		flex: 1;
		display: flex;
		justify-content: space-between;

		.details {
			display: flex;
			gap: 0.5rem;
		}

		.name {
			font-weight: bold;
		}

		.address {
			color: var(--primary);
		}
	}
}
