.card {
	border-radius: 3rem;
	background-color: var(--base);
	display: flex;
	gap: 1rem;
	padding: 1rem;
	border: 1px solid var(--border-color);
	cursor: pointer;

	&:hover {
		outline: 1px solid var(--accent);
	}

	&.selected {
		outline: 1px solid var(--accent);
		background-color: var(--accent-alpha-v3);
	}

	.radioInput {
		outline: none;
	}

	.content {
		flex: 1;
		display: flex;
		justify-content: space-between;

		.name {
			font-weight: bold;
		}

		.address {
			color: var(--primary);
		}

		.editBtn {
			background-color: transparent;
			border: none;
			outline: none;
		}

		.editIcon {
			width: 26px;
			align-self: center;
			border-radius: 6px;
			padding: 5px;

			&:hover {
				background-color: var(--accent-alpha-v2);
			}
		}
	}
}
