.section {
	padding-block: 2rem;

	.container {
		display: flex;
		max-width: 1340px;
		padding-inline: 5rem;
		gap: 2rem;
		justify-content: center;
		margin-inline: auto;

		.card {
			flex: 0 370px;
		}
	}
}
