@use "../../../styles/breakpoints" as media;

.section {
	padding-block: 5rem;
	background-color: #ffffff80;

	.container {
		display: flex;
		max-width: 1241px;
		padding-inline: 2rem;
		flex-direction: column;
		margin-inline: auto;
		gap: 2.4rem;

		@include media.mobile {
			padding-inline: 1rem;
		}

		.header {
			text-align: center;
			display: flex;
			flex-direction: column;
			gap: 0.25rem;

			.title {
				font-size: 2.25rem;
				font-weight: 800;
			}

			.subtitle {
				font-size: 1.125rem;
				font-weight: 500;
				color: var(--primary-brown);
			}
		}

		.cardList {
			display: flex;
			gap: 2rem;
			justify-content: space-between;

			.listItem {
				display: flex;
				flex: 0 371px;
			}

			@include media.tablet_sm {
				flex-direction: column;

				.listItem {
					flex: 0 auto;

					.card {
						max-width: none;
						width: 100%;
					}
				}
			}
		}
	}
}
