@use "../../../styles/breakpoints" as media;

.section {
	padding-block: 2rem;
	.container {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		max-width: 1340px;
		padding-inline: 5rem;
		margin-inline: auto;

		@include media.tablet_lg {
			padding-inline: 3rem;
		}

		@include media.mobile {
			padding-inline: 1rem;
		}

		.header {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.viewAllLink {
				font-size: 0.875rem;
				font-weight: 700;
				color: var(--accent-orange);
			}
		}

		.restaurantList {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 2rem;

			@include media.tablet_lg {
				grid-template-columns: repeat(2, 1fr);
			}

			@include media.tablet_sm {
				grid-template-columns: repeat(1, 1fr);
			}

			.listItem {
				display: flex;

				.card {
					max-width: none;
					width: 100%;
				}
			}
		}
	}
}
