@use "../../styles/breakpoints" as media;

.page {
	.main {
		display: flex;
		align-items: flex-start;
		max-width: 1600px;
		margin-inline: auto;
		padding-inline: 2.5rem;
		gap: 2rem;
		margin-top: 2.2rem;

		.filters {
			max-width: none;
			flex: 0 0 280px;
			margin-top: 2px;
			position: sticky;
			top: 107px;

			@include media.tablet_lg {
				display: none;
			}
		}

		.content {
			flex: 1;

			.title {
				font-size: 1.875rem;
			}

			.subtitle {
				font-size: 1rem;
				color: var(--text-color-v2);
				font-weight: 500;
			}
		}

		.restaurantList {
			margin-top: 1.5rem;
		}
	}
}
