@use "../../styles//breakpoints" as media;

.main {
	position: relative;
	display: grid;
	grid-template-columns: auto 384px;
	max-width: 1275px;
	padding-inline: 2rem;
	margin-inline: auto;
	margin-block: 3rem;
	min-height: calc(100vh - 70px);
	gap: 2.5rem;

	@include media.tablet_lg {
		grid-template-columns: 1fr;
	}

	.itemListWrapper {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		.title {
			font-size: 1.75rem;
		}

		.itemsCount {
			font-size: 1.1rem;
			color: var(--secondary);
			font-weight: 500;
			margin-left: 0.5rem;
		}

		.list {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
	}
}
