*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--color-brown-light-400: #e7d5cf;
	--color-brown-light-300: #e7d5cf;
	--color-brown-light-200: #f3eae7;

	--color-brown-dark-700: #39241b;
	--color-brown-dark-600: #2e1d16;
	--color-brown-dark-500: #221510;
	--color-brown-dark-400: #180f0b;

	--color-brown-shade-600: #ec49131a;
	--color-brown-shade-500: #9a604c49;

	--color-brown-700: #815040;
	--color-brown-600: #8d5846;
	--color-brown-500: #9a5f4c;
	--color-brown-400: #a66752;
	--color-brown-300: #b5715a;
	--color-brown-200: #c07860;
	--color-brown-100: #cf8268;

	--color-black-500: #1b110d;

	--primary-white: white;
	--primary-brown: var(--color-brown-500);
	--primary-brown-dark: var(--color-brown-dark-500);
	--primary-black: var(--color-black-500);
	--secondary-brown-light: var(--color-brown-light-300);
	--tertiary-grey: #6b7280;
	--accent-orange: #ec4913;
	--accent-muted: var(--color-brown-light-200);

	--button-primary-bg: var(--accent-orange);
	--icon-primary-color: var(--color-brown-500);
	--icon-secondary-color: var(--accent-orange);
	--icon-primary-bg: var(--color-brown-shade-600);
	--border-primary-color: var(--color-brown-shade-500);
	--border-secondary-color: var(--color-brown-light-400);

	--background: #f8f6f6;
	--foreground-black: black;
	--foreground-brown: var(--color-brown-500);
	--foreground-grey: #9ca3af;
}

body {
	font-family: "Plus Jakarta Sans", "Open Sans", sans-serif;
	color: var(--foreground-black);
	font-weight: 400;
	line-height: 1.5;
	font-size: 1rem;
	background-color: var(--background);
}

img,
svg,
video {
	height: auto;
	max-width: 100%;
	display: block;
}

ul {
	list-style: none;
}

button {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	cursor: pointer;
}

a {
	text-decoration: none;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}
