.card_default {
	display: flex;
	flex-direction: column;
	max-width: 370px;
	align-items: center;
	gap: 1.5rem;
	transition-property: box-shadow;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	border: 1px solid var(--border-primary-color);
	border-radius: 50px;
	padding: 2.2rem 1.75rem;
	text-align: center;
	background-color: var(--primary-white);

	&:hover {
		box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
	}

	.iconWrapper {
		background-color: var(--icon-primary-bg);
		padding: 1.1em;
		border-radius: 50%;

		.icon {
			width: 35px;
			fill: var(--icon-secondary-color);
		}
	}

	.body {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		.subtitle {
			font-size: 0.88rem;
			color: var(--primary-brown);
			font-weight: 500;
		}
	}
}

.card_basic {
	display: flex;
	flex-direction: column;
	max-width: 115px;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;

	.imgWrapper {
		border-radius: 150px;
		overflow: hidden;

		.img {
			width: 100%;
			object-fit: cover;
		}
	}
}
