@use "../../../styles/breakpoints" as media;

.section {
	padding-block: 3rem;

	.container {
		max-width: 1225px;
		margin-inline: auto;
		padding-inline: 2rem;

		.title {
			margin-bottom: 2rem;
		}

		.exploreList {
			display: flex;
			gap: 1.5rem;
			justify-content: space-between;
			align-items: center;
			overflow-x: auto;

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}

	@include media.tablet_lg {
		.container {
			padding-inline: 0;

			.title {
				padding-left: 2rem;
			}

			.exploreList {
				padding-left: 2rem;
				.listItem {
					flex: 0 0 auto;
				}
			}
		}
	}

	@include media.mobile {
		.container {
			.title {
				padding-left: 1rem;
			}

			.exploreList {
				padding-inline: 1rem;
			}
		}
	}
}
