.section {
	padding-block: 3rem;

	.container {
		max-width: 1320px;
		margin-inline: auto;
		padding-inline: 5rem;

		.title {
			margin-bottom: 2rem;
		}

		.exploreList {
			display: flex;
			gap: 1.5rem;
			justify-content: space-between;
		}
	}
}
