.form_default {
	display: flex;
	width: fit-content;
	flex-direction: row-reverse;
	align-content: center;
	gap: 0rem;
	border-radius: 25px;
	padding-inline: 5px;
	background-color: var(--accent-muted);
	overflow: hidden;

	&:has(.input:focus) {
		outline: 2px solid var(--border-tertiary-color);
	}

	.input {
		width: 100%;
		border: none;
		outline: none;
		padding: 5px;
		color: black;
		font-size: 0.88rem;
		padding-block: 12px;
		background-color: var(--accent-muted);

		&::placeholder {
			color: grey;
		}
	}

	.btn {
		.icon {
			width: 22px;
			color: var(--icon-primary-color);
		}
	}
}

/* variants */

.form_2 {
	display: flex;
	width: fit-content;
	gap: 0.75rem;
	border-radius: 25px;
	overflow: hidden;

	.input {
		width: 100%;
		border: none;
		outline: none;
		padding: 5px;
		color: white;
		font-size: 0.88rem;
		padding-block: 12px;
		padding-left: 15px;
		background-color: var(--primary-brown-dark);
		border-radius: 25px;

		&::placeholder {
			color: var(--foreground-brown);
		}
	}

	.btn {
		flex: 0 0 41px;
		background-color: var(--accent-orange);
		border-radius: 100%;
		padding: 0.7em;
		aspect-ratio: 1/1;

		> svg,
		img {
			width: 100%;
			height: 100%;
			color: white;
		}
	}
}
