@use "../../styles//breakpoints" as media;

.main {
	position: relative;
	display: grid;
	grid-template-columns: auto 384px;
	max-width: 1275px;
	padding-inline: 2rem;
	margin-inline: auto;
	margin-block: 3rem;
	min-height: calc(100vh - 70px);
	gap: 2.5rem;

	@include media.tablet_lg {
		grid-template-columns: 1fr;
		min-height: none;
	}

	.checkoutAccordion {
		gap: 0.75rem;
		.titleWrapper {
			flex: 1;
			display: flex;
			align-items: center;
			gap: 1rem;

			.step {
				font-size: 1rem;
				font-weight: 700;
				display: flex;
				flex: 0 33px;
				aspect-ratio: 1/1;
				background-color: var(--accent-alpha-v2);
				justify-content: center;
				align-items: center;
				border-radius: 100%;
				color: var(--accent);
			}

			.title {
				font-size: 1.125rem;
				font-weight: 700;
			}
		}

		.deliveryAddressItem {
			.detailsContent {
				display: flex;
				flex-direction: column;
				gap: 1rem;
			}

			.deliveryAddressList {
				display: flex;
				gap: 1rem;

				@include media.tablet_sm {
					flex-direction: column;
				}
			}

			.listItem {
				flex: 1;
			}
		}

		.deliveryInstructionsItem {
			.textarea {
				margin-top: 2px;
				width: 100%;
				border-radius: 25px;
				padding: 1rem;
				border: 1px solid var(--border-color);
				background-color: var(--base-v2);
				outline: none;
				resize: vertical;
				&:focus {
					outline: 1px solid var(--accent);
				}
			}
		}

		.paymentMethodItem {
			.detailsContent {
				margin-top: 5px;
			}

			.paymentOptionsList {
				display: flex;
				flex-direction: column;
				gap: 0.75rem;
			}

			.listItem {
				flex: 1;
			}
		}
	}
}
