@use "../../styles/breakpoints" as media;

.header {
	background: transparent;

	.navigation {
		min-height: 70px;
		padding-inline: 3rem;
		margin-inline: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1550px;

		.primaryNavigation {
			display: flex;
			align-items: center;
			gap: 2rem;

			.navList {
				display: flex;
				gap: 2rem;
			}
		}

		.secondaryNavigation {
			flex: 0 320px;

			.searchBar {
				width: 100%;
				margin-block: auto;
			}
		}
	}
}
