@use "../../styles/breakpoints" as media;

.header {
	background: transparent;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
	font-size: 0.9rem;
	font-weight: 600;

	@include media.mobile {
		position: fixed;
		width: 100%;
		color: white;
		background-image: linear-gradient(to right, #111111, #111111, #0a0a0a);
	}

	.navigation {
		min-height: 70px;
		padding-inline: 5.5rem;
		margin-inline: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1600px;
		gap: 2rem;

		@include media.tablet {
			padding-inline: 2.5rem;
		}

		@include media.mobile {
			padding-inline: 1.2rem;
		}

		.primaryNavigation {
			display: flex;
			align-items: center;
			gap: 2rem;
			flex: 0 0 auto;

			.logo {
				flex: 0 0 auto;
			}

			.navList {
				display: flex;
				gap: 2rem;

				@include media.tablet_lg {
					flex-direction: column;
					position: fixed;
					transform: translateX(220px);
					right: 0;
					top: 0;
					padding: 4rem;
					background: black;
					color: white;
					height: 100vh;
					text-align: center;
					font-size: 1rem;
				}

				.listItem {
					white-space: nowrap;
				}
			}
		}

		.secondaryNavigation {
			display: flex;
			align-items: center;
			gap: 1.5rem;
			flex: 0 370px;

			@include media.tablet_sm {
				flex: 0 auto;
			}

			.searchIcon {
				flex: 0 0 28px;
			}

			.searchBar {
				margin-block: auto;
				flex: 1;
			}

			.icon {
				flex: 0 0 32px;
				cursor: pointer;
			}
		}
	}
}
