.main {
	min-height: 100vh;
	padding: 2rem;
	display: grid;
	align-items: start;
	gap: 2.5rem;
	grid-template-columns: 1fr 1fr;
	max-width: 1150px;
	margin-inline: auto;
}

.dishImg {
	position: relative;
	border-radius: 50px;
	overflow: hidden;
	min-height: 400px;

	.img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
	}
}

.rating {
	display: flex;
	align-items: center;
	gap: 5px;
}

.content {
	padding-top: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.rating {
	font-weight: 700;
	font-size: 0.9rem;
	color: #f59e0b;
}

.dishTitle {
	font-size: 2.25rem;
	font-weight: 900;
}

.dishInfo {
	display: flex;
	gap: 1rem;
	color: var(--primary);
	font-weight: 500;
	align-items: center;

	.dot {
		width: 6px;
		height: 6px;
		border-radius: 100%;
		background-color: lightgrey;
	}
}

.caloriesWrapper {
	display: flex;
	gap: 0.25rem;
}

.dishDescription {
	margin-top: 0.5rem;
	line-height: 1.7;
}

.addToCartBtn {
	margin-top: 1rem;
	font-size: 1.1rem;
	font-weight: 600;
	width: 100%;
	border-radius: 12px;
	justify-content: center;
}

.instructions {
	background-color: var(--base);
	resize: none;
	min-height: 100px;
	margin-top: 0.5rem;
}

.instructionsTitle {
	font-size: 1.125rem;
}
