@use "../../styles/breakpoints" as media;

.page {
	.header {
		padding-bottom: 1rem;
		display: flex;
		flex-direction: column;
		gap: 6px;
		position: fixed;
		top: 0;
		width: 100%;
		background: #0c0c0c;
		color: white;

		nav {
			margin: 0;

			.hamburgerMenu > span {
				background-color: white;
			}
		}

		.searchBarWrapper {
			margin-inline: auto;
			border-radius: 8px;

			@include media.tablet_lg {
				width: calc(100% - 4.5rem);
			}

			@include media.mobile {
				width: calc(100% - 2.4rem);
			}

			.input {
				min-height: 44px;
			}
		}
	}

	.main {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-top: 135px;
		padding-bottom: 1rem;
		padding-top: 0rem;
		background-image: linear-gradient(to right, #0d0d0d, #0d0d0d, #080808);
		height: calc(100vh - 135px);
		overflow-y: auto;

		&::-webkit-scrollbar {
			display: none;
		}

		@include media.tablet_lg {
			padding-inline: 2rem;
		}

		@include media.mobile {
			padding-inline: 1rem;
		}

		.searchResultsList {
			background-color: transparent;
			border: none;
			flex-shrink: 0;
			border-radius: 0;
			color: white;
			text-align: center;

			.restaurantCard {
				background-color: transparent;
				color: var(--primary-white);
				border-radius: 8px;
				text-align: left;

				&:hover {
					background-color: var(--card-secondary-hover-bg);
				}
			}
		}
	}
}
