.page {
	.main {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-top: 70px;
		padding: 1rem;
		background-image: linear-gradient(to right, #0d0d0d, #0d0d0d, #080808);
		height: calc(100vh - 70px);
		overflow-y: auto;

		.searchBarWrapper {
			width: 100%;
			flex-shrink: 0;

			.input {
				min-height: 44px;
			}
		}

		.searchResultsList {
			background-color: transparent;
			border: none;
			flex-shrink: 0;
			border-radius: 0;
			color: white;
			text-align: center;

			.restaurantCard {
				background-color: transparent;
				color: var(--primary-white);
				border-radius: 8px;

				&:hover {
					background-color: var(--hover-card-secondary-background);
				}
			}
		}
	}
}
