.checkbox {
	appearance: none;
	-webkit-appearance: none;
	width: 17px;
	aspect-ratio: 1/1;
	border: 2px solid var(--border-color);
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	vertical-align: middle;
	transition: all 0.2s ease;
	position: relative;
	top: -1.5px;

	&:hover {
		border-color: var(--accent);
	}

	&:checked {
		background-color: var(--accent);
		border-color: var(--accent);
	}

	&.check:checked::before {
		content: "";
		position: absolute;
		top: 6px;
		left: 7.5px;
		transform: translate(-50%, -50%) rotate(45deg);
		width: 5px;
		height: 9.5px;
		border: solid white;
		border-width: 0 2.4px 2.4px 0;
	}

	&.dot {
		background-color: white;

		&:checked::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 9px;
			height: 9px;
			background-color: var(--accent);
			border-radius: 100%;
		}
	}
}
