@use "../../styles/breakpoints" as media;

.footer {
	background-color: var(--secondary-black);
	padding-top: 4em;
	padding-bottom: 4em;

	@include media.mobile {
		padding-inline: 2em;
	}

	.navigation {
		max-width: 1100px;
		margin: 0 auto;
		padding-inline: 3em;
		flex: 1;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
		gap: 1.5em;

		@include media.mobile {
			grid-template-columns: repeat(2, minmax(130px, 1fr));
		}
	}
}

.linkListContainer {
	.navList {
		display: flex;
		flex-direction: column;
		gap: 0.75em;

		.listItem {
			.link {
				font-size: 0.82rem;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.title {
	color: var(--primary-white);
	font-size: 1rem;
	font-weight: bold;
	font-family: "Plus Jakarta Sans", sans-serif;
}
