.searchResultsContainer {
	border: 1px solid var(--border-color);
	border-radius: 10px;
	padding: 0.75rem 1rem;
	overflow: hidden;
	background-color: var(--primary-v2);

	&:has(.restaurantCard) {
		padding: 0;
	}

	.restaurantList {
		display: flex;
		flex-direction: column;

		.listItem {
			a {
				width: 100%;
			}
		}
	}

	.restaurantCard {
		border: none;
		border-radius: 0;
		padding: 10px 0.8rem;
		box-shadow: none;

		&:hover {
			background-color: var(--card-hover-bg-v3);
		}
	}

	.seeAllLink {
		display: block;
		margin: auto;
		width: fit-content;
		margin-block: 0.5rem;
		margin-top: 1rem;
		font-size: 0.875rem;
		font-weight: 700;
		color: var(--accent);
	}

	.seeMoreBtn {
		padding: 0.7em 1.2em;
		border-radius: 5px;
		margin-top: 1rem;
		line-height: 1;
	}
}
