.searchResultsContainer {
	border: 1px solid var(--border-primary-color);
	border-radius: 10px;
	padding: 0.75rem 1rem;
	background-color: var(--primary-white);
	overflow: hidden;

	&:has(.restaurantCard) {
		padding: 0;
	}

	.restaurantList {
		display: flex;
		flex-direction: column;

		.listItem {
			a {
				width: 100%;
				.restaurantCard {
					border: none;
					border-radius: 0;
					padding: 10px 0.8rem;
					box-shadow: none;

					&:hover {
						background-color: var(--hover-card-primary-background);
					}
				}
			}
		}
	}

	.seeMoreLink {
		display: block;
		margin: auto;
		width: fit-content;
		margin-block: 0.5rem;
		margin-top: 1rem;
		font-size: 0.875rem;
		font-weight: 700;
		color: var(--accent-orange);
	}
}
