.listWrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.dishList {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;

	.listItem {
		flex: 0 160px;
	}
}

.title {
	font-size: 1.25rem;
}

.link {
	display: block;
}
