.listWrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.dishList {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	container-type: inline-size;

	.listItem {
		flex: 0 160px;

		@container (width < 500px) {
			flex: 0 47%;
		}
	}
}

.title {
	font-size: 1.25rem;
}

.link {
	display: block;
}
