.main {
	min-height: calc(100vh - 70px);
	max-width: 1120px;
	margin: auto;
	padding: 2rem;
}

.title {
	font-size: 1.875rem;
	margin-top: 1rem;
}

.content {
	margin-top: 0.5rem;
}

.orderList {
	padding: 0.5rem;
	padding-left: 0;
}

.orderListItem {
	border: none;
}
