.main {
	min-height: calc(100vh - 70px);
	max-width: 1100px;
	margin: auto;
	padding: 2rem;
}

.title {
	margin-top: 1rem;
	padding-inline: 0.5rem;
}

.orderList {
	margin-top: 1.5rem;
	max-height: 700px;
	overflow: auto;
	padding: 0.5rem;
}
