@use "../../styles/breakpoints" as media;

.restaurantListContainer {
	display: flex;
	flex-direction: column;
	gap: 1.75rem;

	.restaurantList {
		display: grid;
		grid-template-columns: repeat(3, minmax(0px, 1fr));
		gap: 1.5rem;

		@include media.tablet {
			grid-template-columns: repeat(2, minmax(0px, 1fr));
		}

		@include media.mobile {
			grid-template-columns: repeat(1, minmax(0px, 1fr));
		}

		.listItem {
			.restaurantCard {
				max-width: none;
			}
		}
	}

	.footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
		padding-block: 2.5rem;
	}

	.counterWrapper {
		display: flex;
		flex-direction: column;
		gap: 0.55rem;
		text-align: center;
		max-width: 239px;
		width: 100%;

		.rangeInput {
			&::-webkit-slider-thumb {
				display: none;
			}

			&::-webkit-slider-runnable-track {
				height: 7px;
			}
		}

		.text {
			color: var(--text-color-v2);
			font-size: 0.9rem;
		}
	}

	.seeMoreBtn {
		border-radius: 30px;
		background-color: var(--base);
		color: var(--generic);
		border: 1px solid var(--border-color);

		&:hover {
			background-color: var(--button-muted-bg);
		}
	}
}
