@use "../../styles/breakpoints" as media;

.restaurantListContainer {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	align-items: center;

	.restaurantList {
		display: grid;
		grid-template-columns: repeat(3, minmax(0px, 1fr));
		gap: 1.5rem;

		@include media.tablet {
			grid-template-columns: repeat(2, minmax(0px, 1fr));
		}

		@include media.mobile {
			grid-template-columns: repeat(1, minmax(0px, 1fr));
		}

		.listItem {
			.restaurantCard {
				max-width: none;
			}
		}
	}

	.seeMoreBtn {
		border-radius: 30px;
		background-color: var(--base-v2);
		color: var(--generic);
		border: 1px solid var(--border-color);

		&:hover {
			background-color: var(--button-muted-bg);
		}
	}
}
